html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding-top: 0;
}

p {
  font-family: "Oswald", serif;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
}

.bg-info {
  opacity: 0.95;
}
/*video*/

.video-container video {
  position: absolute;
  z-index: -100;
  min-height: 50%;
  min-width: 100%;
  transform: translate(-50%, -40%);
  left: 50%;
  top: 50%;
  object-fit: cover;
}

.nav-link a {
  color: #fff;
}

.decouvrir-btn .btn a {
  color: #fff;
  text-decoration: none;
}

.dim-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 1;
}

.video-container {
  width: 100%;
  height: 30%;
}

.bordure {
  height: 980px;
  width: 2414px;
  z-index: 2;
  margin-top: 400px;
}
/*navigation*/

.navbar-brand {
  font-family: "Monoton", cursive;
  font-size: 2.3rem;
  line-height: 1.3rem;
  padding-left: 4px;
  padding-top: 0;
  margin-top: 0;
}

.navbar-brand:hover {
  transform: rotate(-40deg);
}

.navbar-brand p {
  font-size: 1.5rem;
  color: black;
}

.navbar-brand img {
  margin-top: 0;
  top: 0;
}

.navbar {
  color: #fff;
}

.slogan1 p {
  z-index: 10;
  position: absolute;
  font-family: "Coda", serif;
  font-size: 4rem;
  text-align: right;
  line-height: 3.2rem;
  top: 110px;
  left: 100px;
  right: 0;
  text-shadow: white 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px,
    #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px, #9c9c9c 1px 4px 1px,
    #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px, #9c9c9c 1px 7px 1px,
    #9c9c9c 1px 8px 1px, #9c9c9c 1px 9px 1px, #9c9c9c 1px 10px 1px,
    #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px,
    rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px,
    rgba(16, 16, 16, 0.2) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px,
    white -0.15em -0.1em 100px;
  color: #fff;
  padding: 5px;
}

.news {
  z-index: 50;
  position: relative;
  left: -200px;
  top: 300px;
  transform: rotate(10deg);
}

.img-news {
  position: absolute;
  min-height: 70%;
  min-width: 70%;
  transform: translate(-50%, -50%);
}

.decouvrir-btn {
  position: absolute;
  left: 25px;
  z-index: 150;
}

.decouvrir-btn .btn {
  font-size: 1.25rem;
  margin: 2px;
  padding: 10px 100px 10px 10px;
}

.carnet-titre {
  z-index: 200;
}

.carnets-titre p {
  z-index: 9;
  position: absolute;
  font-family: "Coda", serif;
  font-size: 4rem;
  text-align: right;
  line-height: 3.2rem;
  left: 0px;
  padding-left: 10px;
  transform: rotate(-10deg);
  text-shadow: white 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px,
    #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px, #9c9c9c 1px 4px 1px,
    #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px, #9c9c9c 1px 7px 1px,
    #9c9c9c 1px 8px 1px, #9c9c9c 1px 9px 1px, #9c9c9c 1px 10px 1px,
    #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px,
    rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px,
    rgba(16, 16, 16, 0.2) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px,
    white -0.15em -0.1em 100px;
  color: #fff;
  /*text-shadow: #fff 0 -1px 0, #ff6767 2px 2px 0, #ca3333 3px 3px 0, #770a0c 4px 4px 0, #333 5px 5px 10px;*/
  padding: 15px;
}

.txt-carnets {
  margin-top: 140px;
  font-family: "Oswald", serif;
  font-size: 1.6rem;
  text-align: right;
  line-height: 1.6rem;
  padding: 10px;
  margin-right: 30px;
}

p {
  color: #666666;
}

h2 {
  font-family: "Oswald", sans-serif;
}

.nav-link {
  font-family: "Oswald", sans-serif;
  font-size: 1.3em;
}
h4, h5 {
  font-family: "Oswald", sans-serif;
}
label
{font-family: "Oswald", sans-serif;
  font-size: 0.8em;}

p {
  font-family: "Oswald", sans-serif;
}

body {
  background-color: #fff;
}
/*animation femme*/

.watercolor1-container {
  position: absolute;
  z-index: 1;
  left: 400px;
  top: 800px;
}

.watercolor2-container {
  position: absolute;
  z-index: 1;
  left: 600px;
}

.femme1-container {
  position: absolute;
  height: 450px;
  width: 180px;
  z-index: 100;
  left: 0;
  top: 12%;
  animation-name: TranslationX;
  animation-duration: 4s;
}

.paddle-container {
  position: absolute;
  z-index: 100;
  left: 400px;
  top: 1000px;
  animation-name: TranslationX;
  animation-duration: 4s;
}

.bordure {
  position: absolute;
  height: 208px;
  width: 1px;
  z-index: 7;
  left: 0;
}

.stop:target {
  display: none;
}

@keyframes TranslationX {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(5px);
  }
}

.fleches {
  z-index: 1220;
  padding-left: 100px;
  padding-right: 200px;
  position: absolute;
  top: 30rem;
  left: 0;
  transition: transform 200ms ease-out;
}

.fleches:hover {
  transform: scale(1.3);
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #161615;
}
/* temoignages */

.temoignages-container {
  margin-top: 50px;
}

.temoignages {
  background-image: url(../img/fond-temoins.png);
  background-image: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.homme1-container {
  height: 130px;
  width: 268px;
  z-index: 12;
  animation-name: TranslationX;
  animation-duration: 4s;
}

.homme1-container img {
  padding-bottom: 50px;
}

.icones {
  font-size: 7px;
}

.temoignages-titre p {
  position: absolute;
  z-index: 100;
  font-family: "Coda", serif;
  font-size: 4rem;
  text-align: right;
  line-height: 3.2rem;
  margin-top: 100px;
  transform: rotate(-5deg);
  text-shadow: white 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px,
    #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px, #9c9c9c 1px 4px 1px,
    #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px, #9c9c9c 1px 7px 1px,
    #9c9c9c 1px 8px 1px, #9c9c9c 1px 9px 1px, #9c9c9c 1px 10px 1px,
    #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px,
    rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px,
    rgba(16, 16, 16, 0.2) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px,
    white -0.15em -0.1em 100px;
  color: #fff;
  padding: 20px 100px 20px 20px;
}

.txt-temoignages {
  z-index: 50;
  margin-top: 350px;
  font-family: "Oswald", serif;
  font-size: 1.6rem;
  text-align: left;
  line-height: 1.6rem;
  padding: 10px;
}

.offset-6 {
  margin-left: 30%;
}
/* Media Queries */

@media screen and (min-width: 1024px) {
  .galerie {
    width: 960px;
    margin: 1000 auto;
  }
  .dim-video {
    width: 960px;
  }
}
/* galerie */

.galerie {
  width: 100%;
  overflow: hidden;
  margin-top: 500px;
}

.blog-post-teasers {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.blog-post-teasers > * {
  flex: 1 1 300px;
  align-self: flex-start;
  padding: 1rem;
}

@supports (display: grid) {
  .blog-post-teasers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
  }
  .blog-post-teasers > * {
    padding: 0;
  }
}

.blog-post-teaser figure {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 30% 0;
  cursor: pointer;
}

.blog-post-teaser figure::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.blog-post-teaser figure:hover img {
  opacity: 0.7;
}

.blog-post-teaser figure:hover figcaption {
  opacity: 1;
  transform: translateY(0);
}

.blog-post-teaser figcaption {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  text-align: center;
}

.blog-post-teaser figcaption h1 {
  font-size: 38px;
  font-family: "Coda", serif;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
  color: #fff;
}

.blog-post-teaser figcaption a {
  text-decoration: none;
  color: #fff;
}

.blog-post-teaser img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
/*rubrique temoignages*/

.card {
  font-family: "Oswald", serif;
  font-size: 1rem;
  line-height: 1rem;
  color: #363636;
}
/*page temoignages*/

.book {
  background-image: url(../img/fd-book.png);
  display: block;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.home {
  margin-left: 30px;
}

.fichetech {
  margin-top: 160px;
  margin-left: 40px;
  font-family: "Oswald", sans-serif;
  padding: 10px;
  padding-bottom: 100px;
}

.temoin {
  margin-top: 150px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.bas a {
  font-size: 4rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  text-decoration: none;
}

.container .map {
  position: absolute;
  margin-top: 100px;
}

.formulaire {
  margin-top: 100px;
}
/* Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
  .slogan1 p {
    z-index: 60;
  }
  .decouvrir-btn .btn {
    width: 50%;
    padding: 10px 30px 10px 10px;
  }
  .news {
    z-index: 50;
    position: relative;
    left: -50px;
    top: 350px;
    transform: rotate(10deg);
  }
  .galerie {
    width: 100%;
    overflow: hidden;
    margin-top: 320px;
  }
  
}
/*  Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {
  .slogan1 p {
    z-index: 10;
  }
  .famille {
    width: 70%;
    height: 70%;
  }
  .galerie {
    margin-top: 300px;
  }
  .paddle-container {
    left: 40px;
    top: 600px;
    animation-name: TranslationX;
    animation-duration: 4s;
  }
  .news {
    z-index: 8;
    position: relative;
    left: 10px;
    top: 10px;
    transform: rotate(10deg);
  }
}
/*  Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {
  .slogan1 p {
    z-index: 10;
    padding-right: 600px;
  }
  .famille {
    width: 70%;
    height: 70%;
  }
  .txt-carnets {
    margin-right: 300px;
    margin-left: -500px;
  }
  .paddle-container {
    left: 40px;
    top: 600px;
    animation-name: TranslationX;
    animation-duration: 4s;
  }
}
/*  Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {
}
/*  Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
  .news {
    z-index: 50;
    position: relative;
    left: 0;
    top: 200px;
    transform: rotate(-10deg);
  }
  .txt-carnets {
    margin-right: 300px;
    margin-left: -500px;
  }
  .slogan1 p {
    z-index: 10;
    padding-right: 600px;
  }
  .femme1-container {
    width: 240px;
    top: 8%;
  }
  .txt-temoignages {
    margin-left: 50px;
  }
}
